body, html {
    background: #313635;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

.columns {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.widget-create-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.widget-dd-spacing {
    margin-top: 15px;
}

.widget-image {
    height: 100% !important;
    width: auto !important;
}

