.chat-container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background: #e3e3e3 !important;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-message {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 10px !important;
    margin: 2px !important;
    font-size: 15pt !important;
    background: #E3E3E3 !important;
}

.chat-username {
    color: purple !important;
    font-weight: bolder;
    font-size: 15pt !important;
}

.chat-self-msg-text {
    background: black;
    color: white;
    font-size: 15pt !important;
}

.chat-dif-msg-text {
    background: grey;
    color: white;
    font-size: 15pt !important;
}