.menu-label {
    color: #8F99A3;
    letter-spacing: 1.3;
    font-weight: 700;
}

.menu-list a {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.menu-list a:hover {
    background-color: transparent;
    color: #cccccc;
}

.menu-list a.is-active {
    background-color: transparent;
    color: #cccccc;
    font-weight: 700;
}