.item-container {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 25px;
}

.widget-tag {
    margin-top: 25px;
}

.widget-input {
    margin-top: 45px;
}

.widget-button {
    margin-top: 5px;
}