.content {
    float: left;
    height: 100vh;
    width: 100vw;
    background: url("../../../media/images/arena-panorama.jpg") no-repeat center;
    filter: blur(5px) brightness(0.5);
    background-size: cover;
    position: fixed;
    z-index: -1;
}
