@import url('https://fonts.googleapis.com/css?family=Rubik:700');

.streamItemContainer {
    width: 80%;
    height: auto;
    display: table;
    margin: 50px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0) !important;
}

.streamItemThumbnail {
    width: 60vw;
    height: 35vw;
    float: left;
    position: relative;
}

.streamItemThumbnail img {
    width: 100%;
    height: 100%;
}

.streamItemTitle {
    color: white;
    margin: 10px;
    font-size: 14pt;
    font-weight: bold;
    max-width: 85%;
    width: auto;
}

.streamItemUsername {
    color: white;
    margin: 10px;
    font-size: 12pt;
    font-weight: lighter;
}

.streamItemData {
    float: left;
}

.streamItemAction {
    left: 0;
    bottom: 0;
    width: 95%;
    height: auto;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    margin: 15px;
    font-family: 'Rubik', sans-serif;
}

.streamItemActionIndicator {
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 7px;
    border-color: #1d2120;
    border-width: 1px;
    background: red;
    float: right;
}

.streamItemActionName {
    color: red;
    right: 0;
    top: 0;
    margin: 15px;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.streamItemInfo {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.streamItemInfo:hover {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
