nav.navbar {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    margin-bottom: 1rem;
    background: #1d2120 !important;
}

.navbar-item.brand-text {
    font-weight: 300;
    color: white !important;
}

.navbar-item.brand-text:hover {
    color: black !important;
}

.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
    color: white !important;
}

.navbar-item:hover, .navbar-link:hover {
    color: black !important;
}