.promo {
    float: left;
    height: 100vh;
    width: 100%;
    background: url("../../../media/images/arena-panorama.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

.promo-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}